@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Stick No Bills", sans-serif;
  color: #20c20e;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),
    url(img1.jpg);
  background-size: cover;
  background-color: rgb(32, 32, 32);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container__time {
  margin-top: 15rem;
  font-size: 10rem;
}

.container {
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.ghost {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}
.shadowFrame {
  width: 130px;
  margin-top: 15px;
}
.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
}

.ellipse {
  transform-origin: center center;
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 18%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}
